<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.API_Demo.utils.TestReporterListener" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.API_Demo.test.APIDemo_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
